body {
  background-color: #000;
  font-family: sans-serif;
  margin-top: 0px;
  margin-left: 70px;
}

p {
  -webkit-text-stroke: 4px #fff;
  font-size: 130px;
  margin: 0;
  font-weight: 800;
  color: transparent;
  transition: 0.5s;
  text-shadow: 5px 5px 0px #07bccc,
               10px 10px 0px #e601c0,
               15px 15px 0px #e9019a,
               20px 20px 0px #f40468;
}
p:hover {
  text-shadow: none;
}