body{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-left: 14%;
    margin-top: 6%;
}
.flex-container {
    display: flex;
}
.item {
    width: 70px; height: 70px;
    background-color: gold;
    border: 1px solid gray;
}
.c-1 { order: 6; }
.c-2 { order: 4; }
.c-3 { order: 9; }