body{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-left: 4%;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px; 
}


