body{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-left: 5%;
}

h2 {
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
}

