body{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-left: 16%;
  margin-top: 5%;
}
p {
  width: 320px;
  display: -webkit-box;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
















