body{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-left: 4%;
    margin-top: 3%;
}

p {
    columns: 3;
    column-rule-style: solid;
    column-rule-color: blueviolet;
}